.app {
    display: grid;
    height: 110vh;
    place-items: center;
    background-image: url("../public/loginBackgroung");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.app__body {
    display: flex;
    background-color: #ededed;
    height: 90vh;
    width: 90vw;
    margin-top: 1px;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
}

footer {
    text-align: center;
    padding: 10px;
    border: 10px;
    color: black;
}
Logut {
    padding: 30px;
    margin: 30px;
}

.loginPage{
	position:absolute;
	top:4vh;
	left:32vw;
}
