.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}
.chat__header {
  margin-left: 29px;
  padding: 2px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
  flex: 3 1;
  padding-left: 20px;
}
.chat__headerRight {
  margin-right: 10px;
  display: flex;
  flex: 0.8;
  justify-content: space-between;
  align-items: center;
  /* min-width: 10vh; */
  font-size: 24px;
  text-align: center;
}
.chat__headerInfo > h3 {
  margin-bottom: -16px;
  font-weight: 500;
}

.chat__headerInfo > p {
  color: gray;
}

.chat__body{
    flex: 1;
    background-image: url('https://fsa.zobj.net/crop.php?r=vbnXSqrOcta66cJT7GDsyGrL4ymmKtw6cXKH11NSAojEU5VS-56iW0RZbWBWttoVLjnNPscucnu_zsT7EaOsZUGryTGrot5ZcJTlVNOGAhhfuhLeICdJowyrw2HVUUrGTaMRgK-MUlQnFm2jB3K3ACsqbu2WuhNTtzadaM12p3VJcyQFNSSrT17BB6ah1zBViWctSquMonUV-bgS');
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: auto;
}

.chat__message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.chat__timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat__name{
    position: absolute;
    top:-15px;
    font-weight: 800;
    font-size: xx-small;
}
.chat__received{
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}
.chat__footer > form{
    flex:1;
    display: flex;
}

.chat__footer > form > input{
    flex:1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.chat__footer > form > button{
    display: none;
}
.chat__footer i{
    color: gray;
    padding: 10px;
    font-size: 24px;
}

