.loginScreen{
	align-items:center;
	display:flex;
	flex-direction:column;
}



.loginTitle{
	font-size:50px;
	font-family: 'Arvo', serif;
	color:black;
	margin:100px;
	text-align:center;
}



.googleLoginButton{
	align-items:center;
	text-align:center;
}

.loginButton:{}
