.starter
{
    color: rgb(240, 46, 46);
    display: flex;
    /* justify-content: center;
    align-self: start; */
    font-size: 80px;
    text-align: center;
    flex-direction: column;
    flex: 0.65;

    flex: 1;
    background-image: url('https://img.buzzfeed.com/buzzfeed-static/static/2018-04/13/12/asset/buzzfeed-prod-web-03/sub-buzz-8755-1523636113-1.jpg?output-quality=auto&output-format=auto&downsize=640:*');
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: auto;
}
.starter> h3{
    margin-top: 250px;
}